<h1>Posts</h1>

<ul class="list-group">
  <app-post *ngFor="let mess of messages | async"
            [message]="mess"
            (clickPost)="listensClick($event)"></app-post>
 <!-- <li class="list-group-item" *ngFor="let mess of message | async">
    <h2>{{mess.title}}</h2>
    <p>
      {{mess.body}}
    </p>
  </li> -->
</ul>
